name: RunAI Model Streamer Library - Resease

on:
  release:
    types:
      - created

jobs:
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set PACKAGE_VERSION
      run: echo "PACKAGE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

    - name: Build package
      uses: devcontainers/ci@v0.3
      with:
        push: always
        runCmd: |
          PACKAGE_VERSION=${{ env.PACKAGE_VERSION }} make build

    - name: Upload As Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: py/*/dist/*.whl
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish streamer package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: py/runai_model_streamer/dist/
        print-hash: true

    - name: Publish s3 streamer package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: py/runai_model_streamer_s3/dist/
        print-hash: true

    - name: Publish GCS streamer package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: py/runai_model_streamer_gcs/dist/
        print-hash: true

    - name: Publish Azure streamer package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: py/runai_model_streamer_azure/dist/
        print-hash: true
